@media (min-width:1024px){
    #Container-Home{
        display: grid;
        grid-template-columns: 1fr 0.5fr 2fr;
    }
    .card_generalkiri{
        border: 1px solid blue;
        width: 25rem;
        min-height: 1rem;
        height: auto;
        margin-right: 2rem ;
        padding: 1rem;
        overflow: auto;
    }
    .card_generalkanan{
        border: 1px solid blue;
        width: 61rem;
        min-height: 15rem;
        height: auto;
        padding: 1rem 1rem 1rem 1rem;
        display: grid;
        grid-template-columns: 25rem 25rem;
        grid-template-rows: 9rem 9rem 9rem 9rem;
        grid-template-rows: auto auto auto auto;
        grid-gap: 1rem;
    }
    .card_cerbung, .card_cerbung2{
        border: 1px solid brown;
        width: 24rem;
        height: 8rem;
        padding: 0rem 0rem 0rem 0.5rem;
        position: relative;
        
    }
    .card_cerbung{
        margin: 0rem 0rem 1rem 0rem;
    }
    #garis_vertikal{
        border-left: 1px solid #333;
        height: 500px;
        margin-right: 2rem;
    }
    #btnTampilkanCeritaku{
        width: 24.6rem;
        height: 1.5rem;
        border-radius: 2px;
    }
    #btnTampilKumpulanCerita{
        width: 25rem;
        height: 1.5rem;
        border-radius: 2px;
        grid-column: 1/2;
    }
    .judulCeritaku{
        text-align: center;
    }
    .isicard{
        position: absolute;
        bottom: 0.5rem;
    }
    
    
    .card_cerbung2 .isicard:nth-child(2) {
        bottom: 1.5rem;
    }
    #Hide-Container{
        display: none;
    }
    
}
@media (max-width:1023px ){
    #Container-Home{
        display: grid;
        grid-template-columns: 25rem;
        grid-gap: 1rem;
    }
    h1, h3{
        text-align: center;
    }
    .card_generalkiri{
        border: 1px solid blue;
        width: 50rem;
        min-height: 1rem;
        height: auto;
        margin-right: 2rem ;
        padding: 1rem;
        display: grid;
        grid-template-columns: 25rem 25rem;
        grid-row: 2/3;
    }
    .card_generalkanan{
        border: 1px solid blue;
        width: 50rem;
        min-height: 15rem;
        height: auto;
        padding: 1rem 1rem 1rem 1rem;
        display: grid;
        grid-template-columns: 25rem 25rem;
        grid-row: 1/2;
    }
    .card_cerbung, .card_cerbung2{
        border: 1px solid brown;
        width: 24rem;
        height: 8rem;
        padding: 0rem 0rem 0rem 0.5rem;
        position: relative;
        margin: 0rem 0rem 1rem 0rem;
    }
    .card_cerbung{
        margin: 0rem 0rem 1rem 0rem;
    }
    #garis_vertikal{
        border-left: 1px solid #333;
        height: 500px;
        margin-right: 2rem;
        display: none;
    }
    #btnTampilkanCeritaku{
        width: 24.6rem;
        height: 1.5rem;
        border-radius: 2px;
        grid-column: 1/2;
    }
    #btnTampilKumpulanCerita{
        width: 24.6rem;
        height: 1.5rem;
        border-radius: 2px;
        grid-column: 1/2;
    }
    .judulCeritaku{
        text-align: center;
    }
    .isicard{
        position: absolute;
        bottom: 0.5rem;
    }
    
    
    .card_cerbung2 .isicard:nth-child(2) {
        bottom: 1.5rem;
    }
    #Hide-Container{
        display: none;
    }
}
@media (max-width:575px){
    #Hide-Container{
        display: block;
    }
    #Container-Home{
        display: none;
    }
}